<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <header>
        <h1>About Me</h1>
    </header>

    <section>
        <h2>Hello, I'm Alan Ren</h2>
        <p>
            I am from Mississippi and I am currently an senior at UofMemphis
        </p>
    </section>
</body>

<ul>
   <p><%= link_to 'Back to index page', root_path %>
</p>
</ul>
</html>

